<link rel="stylesheet" href="~/css/payment.css" asp-append-version="true"/>

@{
    var ticketDetails = ViewBag.TicketDetails as dynamic;
    int adults = ticketDetails.Adults.ToObject<int>();
    int children = ticketDetails.Children.ToObject<int>();
    decimal price = ticketDetails.Price.ToObject<decimal>();
    string wagonType = ticketDetails.WagonType.ToObject<string>();
    decimal totalPrice = ticketDetails.TotalPrice.ToObject<decimal>();
}

<form class="hero">
    <div class="items">
        <div class="receipt">
            <h2>Ваш заказ</h2>
            
            @for (int i = 0; i < adults; i++)
            {
                <div class="item">
                    <span>@ticketDetails.WagonType</span>
                    <span>Взрослый</span>
                    <span class="total">@ticketDetails.Price <p class="valute">р.</p></span>
                </div>
            }
            
            @for (int i = 0; i < children; i++)
            {
                <div class="item">
                    <span>@ticketDetails.WagonType</span>
                    <span>Детский</span>
                    <span class="total">@(ticketDetails.Price * 0.85m) <p class="valute">р.</p></span>
                </div>
            }

            <hr>
            <div class="receipt-total">
                <span>Итоговая сумма:</span>
                <span>@ticketDetails.TotalPrice <p class="valute">р.</p></span>
            </div>
        </div>

        
        
        
        <!-- Форма оплаты -->
        <div class="payment-form">
            <div>
                <label for="name">Имя владельца карты</label>
                <input
                    required
                    type="text"
                    id="name"
                    name="name"
                    autocomplete="cc-name"
                    placeholder="Иванов Иван"
                    pattern="[a-zA-Zа-яА-ЯёЁ]+\s[a-zA-Zа-яА-ЯёЁ]+"
                    title="Введите имя и фамилию через пробел (только буквы).">
            </div>
            <div class="error-container"></div>

            <div class="card-number">
                <label>Номер карты</label>
                <input
                    required
                    type="text"
                    id="card-number"
                    name="card-number"
                    inputmode="numeric"
                    maxlength="19"
                    autocomplete="cc-number"
                    placeholder="1234 5678 9012 3456"
                    pattern="\d{4} \d{4} \d{4} \d{4}"
                    title="Введите номер карты в формате: 1234 5678 9012 3456.">

            </div>
            <div class="date-code">
                <div>
                    <label for="expiry-date">Срок действия</label>
                    <input
                        required
                        type="text"
                        id="expiry-date"
                        name="expiry-date"
                        class="expiry-date"
                        autocomplete="cc-exp"
                        placeholder="MM/YY"
                        maxlength="5"
                        pattern="(0[1-9]|1[0-2])/\d{2}"
                        title="Введите срок действия в формате MM/YY (месяц от 01 до 12).">
                </div>
                <div>
                    <label for="security-code">CVC-код</label>
                    <input
                        required
                        type="text"
                        id="security-code"
                        name="security-code"
                        inputmode="numeric"
                        minlength="3"
                        maxlength="3"
                        pattern="\d{3}"
                        placeholder="123"
                        title="Введите CVC код из 3 цифр.">

                </div>
            </div>
            <button type="submit">Оплатить</button>
        </div>
    </div>
</form>
