@model IEnumerable<trains.Models.Routes>

<link rel="stylesheet" href="~/css/routesBrowse.css" asp-append-version="true"/>

<div class="hero">
    <li class="closeLi">
        <a asp-action="Index">
            <img src="~/images/close.png" class="close" alt="">
        </a>
    </li>
    <h1>Маршруты</h1>
    <a asp-action="RoutesRedaction">
        <button class="addRouteButton">Добавить маршрут</button>
    </a>w
    <div class="string">
        @foreach (var route in Model)
        {
            <div class="lines">
                <div class="stations">
                    <input class="city-input" type="text" placeholder="@route.title.Split('/')[0]" disabled>
                    <img class="lineRoute" src="~/images/Line2.png" alt="Маршрут">
                    <input class="city-input" type="text" placeholder="@route.title.Split('/')[1]" disabled>
                </div>
                <div class="stops">
                    <br>
                    <input class="stops-input" type="text" placeholder="@route.stops" disabled>
                </div>
                <form asp-action="DeleteRoute" method="post" class="knop">
                    <input class="city-input priceIn" type="text" placeholder="@route.price" disabled>
                    <input type="hidden" name="routeId" value="@route.routeID"/>
                    <button type="submit" class="delBut">Удалить</button>
                </form>
            </div>
        }
    </div>
</div>